@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1599656197111'); /* IE9 */
  src: url('iconfont.eot?t=1599656197111#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABngAAAJaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIEGATYCJAMICwYABCAFhG0HMBusBRHVizeyLzEVGemuKKBMxthdHe3ueF8CHphn+P7ANHgGCgAAAAAI/uHHvec+fGIJYAcbmBbBtIVCprbuULaQFKG4vMdtZPQMxeYMy7Cc68B41sIZmhNswEEYKA2og7Q1Z67yjYpQJVm/sUL/kIeW04yUmnByAVAafmUwNHE5/QkUyPzFOc25qQuoiwMpwL0wiqyEMm4Yu4nAITyGgAjFNKL+7fkGiAOsEqDVFDRgzo/DWakQIlBz0KEL8ITMYfYA5/z7+m5XCAzeAipG5zcO8huYwcZ/Y4YCEAChHfeABRoBB5qsjQ8DyKJZInFFOeyrVPCmqBHtVYesvw4UxwAoVPn3JMDCW00ZgNuaSCXQNGobqHJ9/mbtPaI2CIX2BvdG4XPsZpe6pqq4vH8lL401ZQGKEi4wS7HKr0kUC91oP7Oz2RcguJISq05/IR0AT++51tHPCaHdOgS/R9Czz4UiYDDOF9QOGypP2xIhAvzr7gyvY9X5e0mLEPkRziBFqdsSmknqVLQR80TpxAKE6MIiNDB0PEqWNQC5MFDProKJFJeYIcE9ZknxCDr0BfMU8IsFSMliEaZlLoxSLS2pTFrIoflistPokUmUKL1QePaasyJOfxCvKYRVXhZTOxqJ59iyvkIt4tHzNOBWeY76fsKZp5as5FFkborC170pt9MAikxayKH5YrLT6OloUaXPXyg8e80tPQPOB/GapscqL3uAO/nYq+deXllfoRbx6HkacKvMo76fcK6f15KVPI6Izk0BB/m+8nx95fB1xwBQAE0mOMti4alHkwAAAAA=') format('woff2'),
  url('iconfont.woff?t=1599656197111') format('woff'),
  url('iconfont.ttf?t=1599656197111') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1599656197111#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e61a";
}

